<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

	<variable name="layout" value ="${longdate}|${event-properties:item=EventId_Id}|${threadid}|${uppercase:${level}}|${callsite:includeNamespace=false}|${message} ${exception:format=tostring}"/>
	<targets>
		<target name="console" xsi:type="ColoredConsole" layout="${layout}">
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
			<highlight-word backgroundColor="Green" foregroundColor="Black" ignoreCase="true" regex="success(fully|)" wholeWords="true"/>
			<highlight-word backgroundColor="Red" foregroundColor="Black" ignoreCase="true" regex="fail(ed|)" wholeWords="true"/>
		</target>
		<target name="file" xsi:type="File" layout="${layout}" fileName="${basedir:processDir=true}/${cached:cached=true:inner=${date:format=yyyy_MM_dd_HH_mm_ss}}_logs.txt"/>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--EFCore logs-->
		<logger name="*EntityFramework*" minlevel="Trace" writeTo="file" final="true" />
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="file" />

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<!--<logger name="Microsoft.*" maxlevel="Info" final="true" enabled="false" />-->
	</rules>
</nlog>